*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	color: 	#696969; /*color de texto*/

}

.contenedor {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header .texto-principal{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texto-principal h1{
    font-size: 50px;
    color:#fff;
}

.texto-principal h2{
    font-size: 30px;
    font-weight: 300px;
    color:#fff;
}


header{
	background:#CD853F;
}

.menu {
    width: 70%;
    margin: 0 auto;

}
.menu_2 {
    width: 50%;
    margin: 0 auto;

}

.menu_3 { /*menu categoria*/
    width: 25%;
    margin: 0 auto;

}

nav{
    float: left;
}

nav ul li{
    list-style: none;
    overflow: hidden;
    margin-left: 30px;
    float: left;
    
}

nav ul li a{
	text-decoration: none; 
	display: inline-block;
	padding: 25px 30px;
	color: white;
}
nav ul li a:hover{ /*cuando pasa el mouse*/
	background: Linen;
    color: Violet;
}

header { 
    width: 100%;
    height: 500px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave{
	margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

img{
    width: 100%;
}

#contenedor-2{
    max-width: 100%;
    position: relative;
    top: 2px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 3%;
    border-radius: 1em;

}
